.dados {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr) ) ;
  background: rgb(128, 159, 188);
  gap: 1rem;
  margin: 1rem;
}

.posts__content {
  background-color: rgb(34, 95, 107);
 
}

h1 {
  margin: 1rem;
  color: white;
  font-size: 1.5rem;
}

p {
  margin: 1rem;
  color: white;
  font-size: 1rem;
}